/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
    position: relative;
}

#connectButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

#connectedAddress {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 50px;
}
